<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">E-mail</label>
        <input class="text" name="email" type="text" />
        <label for="senha">Senha</label>
        <input name="senha" type="password" />
        <input class="btn" type="submit" value="Login" />
    </form>
 
</body>
 
</html>