<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">E-mail Address</label>
        <input class="text" name="email" type="email" />
        <label for="nome">Nome</label>
        <input name="nome" type="text" />
        <label for="sobrenome">Sobrenome</label>
        <input name="sobrenome" type="text" />
        <label for="senha">Password</label>
        <input name="senha" type="password" />
        <input class="btn" type="submit" value="Cadastre-se" />
    </form>
 
</body>
 
</html>